# Python
__pycache__
venv/
dist/

# IDE
.vscode/
.idea/

# some experiment outputs
*.log
*.agent.*
*.stats.json
meta.json

# Sphinx
docs/_build/

# coverage
htmlcov/
.coverage

# private notebooks
my_notebooks
